openai==1.59.7
autogen-agentchat==0.4.1
autogen-core==0.4.1
autogen-ext==0.4.1
tiktoken==0.8.0
pyautogen==0.2.29
semantic_kernel
azure-monitor-opentelemetry 
azure-ai-inference[opentelemetry] 
python-dotenv
pandas
fitz
PyMuPDF 
biopython 
tenacity
azure-ai-projects
azure-identity